{% extends "base.html" %}
{% block head %}
<style type="text/css">
*{margin:0;padding:0;}
#main{
    width:80%;
    margin:0 auto;
    overflow:hidden;
}
#main .main-left{
    width:20%;
    height:600px;
    /*background:yellow;*/
    float:left;
}
#main .main-middle{
    width:60%;
    background:pink;
    float:left;
}
#main .main-middle #post_list {
    text-align: center;
}
#main .main-right{
    width:20%;
    height:300px;
    /*background:green;*/
    float:right;
}
#footer{
    width:80%;
    height:50px;
    background:pink;
    margin:0 auto;
}
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('a#sign').click(function(){
            $.ajax({
                url: '/mysite/sign/',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 10000,
                success: function(result) {
                    if(result.data == "post_success") {
                        alert("sign success");
                        window.location.reload();
                    }else {
                        alert("you have signed today,please come tomorrow");
                    }
                }
            });
        });
    });
</script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('a#pop').click(function(){
            $('#mymodal').modal('show');
        });
    });
</script>
<script type="text/javascript">
    function new_post() {
        var theme = $('#theme').val();
        var content = $('#content').val();
        var section = $("#section").val();
        $.ajax({
            url: '/mysite/new_post/',
            type: "POST",
            headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
            data: {'theme': theme,
                    'content': content,
                    'section':section,
                    
                },
            dataType: 'json',
            timeout :3000,
            success: function(result) {
                if(result.status == "200")
                    // alert(result.status);
                    $('#mymodal').modal('hide');
                    window.location.reload();
            }
        });
    }
</script>
{% endblock %}
{% block title %}主页{% endblock %}
{% block body %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/mysite/home_page">IBM 论坛</a>
    </div>
    <div>
        <!--向左对齐-->
        <ul class="nav navbar-nav navbar-left">
        <li><a href="/mysite/new_post"> 发帖 </a></li>
        <li><a id="sign" href="#"><span>签到</span></a></li>
        <li><a id="pop" href="#"> <span>pop</span> </a></li>
        </ul>
        <p class="navbar-text navbar-left">向左对齐-文本</p>
        
        <!--向右对齐-->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/mysite/logout"> logout</a></li>
        </ul>

        <p class="navbar-text navbar-right">向右对齐-文本</p>
    </div>
    </div>
</nav>
<div id="main">
    <div class="main-left">
        {% block main-left %}{% endblock %}
    </div>
    <div class="main-middle">
        {% block main-middle %}{% endblock %}
    </div>
    <div class="main-right">
        {% block main-right %}{% endblock %}
    </div>
</div>
<div id="footer" align="center">
this is footer . all right reserve
</div>
{% endblock %}
