{% extends "base.html" %}
{% block head %}
<style type="text/css">
*{margin:0;padding:0;}
#main{
    width:80%;
    margin:0 auto;
    overflow:hidden;
}
#main .main-left{
    width:18%;
    height:600px;
    /*background:yellow;*/
    float:left;
    padding-right: 3%;
}
#main .main-middle{
    width:60%;
   /* background:pink;*/
    float:left;
}
#main .main-middle #post_list {
    text-align: center;
}
#main .main-right{
    width:18%;
    height:300px;
    /*background:green;*/
    float:right;
}
#footer{
    width:80%;
    height:50px;
    /*background:pink;*/
    margin:0 auto;
}
</style>


{% endblock %}
{% block title %}主页{% endblock %}
{% block body %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/mysite/home_page">IBM 论坛</a>
    </div>
    <div>
        <!--向左对齐-->
        <ul class="nav navbar-nav navbar-left">
<!--         <li><a href="/mysite/new_post"> 发帖 </a></li> -->
        <li><a id="sign" href="#"><span>签到</span></a></li>
        <li><a id="pop" href="#"> <span>发帖</span> </a></li>
        <li><a id="chat" href="#"> <span> 私信 </span> <span class="badge" id="msg_count"></span> </a></li>
        </ul>
   <!--      <p class="navbar-text navbar-left">向左对齐-文本</p> -->
        
        <!--向右对齐-->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/mysite/logout"> logout</a></li>
        </ul>

       <!--  <p class="navbar-text navbar-right">向右对齐-文本</p> -->
    </div>
    </div>
</nav>
<script type="text/javascript">
    $(document).ready(function(){
        //$('#msg_count').text('12')
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            url: '/mysite/get_unread_msg_count/',
            type: 'POST',
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType: 'json',
            timeout: 3000,
            success: function(result) {
                //alert(result.count);
                $('#msg_count').text(result.count)
            }
        })
    });
        $('a#sign').click(function(){
            $.ajax({
                url: '/mysite/sign/',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 3000,
                success: function(result) {
                    if(result.data == "post_success") {
                        alert("sign success");
                        window.location.reload();
                    }else {
                        alert("you have signed today,please come tomorrow");
                    }
                }
            });
        });
        $('a#chat').click(function(){
            $('#msg_count').remove()
            window.location = "/mysite/chat/"
        })
</script>
<div id="main">
    <div class="main-left">
        {% block main-left %}{% endblock %}
    </div>
    <div class="main-middle">
        {% block main-middle %}{% endblock %}
    </div>
    <div class="main-right">
        {% block main-right %}{% endblock %}
    </div>
</div>
<div id="footer" align="center">
this is footer . all right reserve
</div>
{% endblock %}
