{% extends "base.html" %}
{% block title %} %Login {%endblock%}
{% block body %}
	<h1 align="center">IBM club</h1>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="/mysite/login/" method="post">
					{% csrf_token %} 
					<div class="form-group">
						<p>{{ form.email.label }}<br>
						{{ form.email }}{{ form.errors.email.0 }}
						</p>
					</div>
					<div class="form-group">
						<p>{{ form.password.label }}<br>
						{{ form.password }}{{ form.errors.password.0 }}
						</p>
					</div>
					<div class="form-group">
						<input type="submit" value="submit">
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}