{% extends "base_with_header_footer.html" %}
{% block main-left%}
    <p>welcome {{ email }}</p>
    <p>Costs : {{ cost }}</p>
    <p>Nick_name : {{ nick_name }}</p>
    <p>Department : {{ department }}</p>
    <a href="/mysite/change_info/">change my infomation</a>    
{% endblock %}
{% block main-middle%}
           {% for post in posts %}
           <li>
	           post id : {{ post.post_id }},
	           <br/>
	           author : {{ post.author }},
	           <br/>
	           time: {{ post.time }},
	           <br/>
	           theme : {{ post.theme }},
	           <br/>
	           section : {{ post.section }},
	           <br/>
	           content : {{ post.content }}
	           <br/>
	           <br/>
           </li>
            {% endfor %}
{% endblock %}
{% block main-right %}
        右列<br>
        <a href=""> 学术讨论区<br></a>
        <a href=""> 部门交流区<br></a>
        <a href=""> 灌水区<br></a>
        <a href=""> 精华区<br></a>
        <a href=""> 资源共享区<br></a>
{% endblock %}
