{% extends "base_with_header_footer.html" %}
{% block main-left%}
    {% include "personal_info_templates.html" %}
{% endblock %}
{% block main-middle %}
    {% for post in posts %}
    <div class="list-group">
            <a href="{% url 'post_detail' num=post.post_id %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ post.theme }}</h4>
            <small>由 {{ post.author }} 于 {{ post.time }} 发表在 {{ post.section }} </small>
            <br/>
            <br/>
            <p>{{ post.content }}</p>
            <br/>
            </a>
    </div>
    {% endfor %}
    {% if posts %}
    <nav aria-label="Page navigation" style="text-align:center">
      <ul class="pagination">
        <li>
          {% if posts.has_previous %}
            <a class='paginator' title='上一页' href='/mysite/home_page/{{ type }}/{{ posts.previous_page_number }}'><span>&lt;&lt;</span></a>
         {% endif %}
        </li>
        {% for page in posts.paginator.page_range_ext %}
            {% ifequal page  posts.number %}
                <li><a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a></li>
            {% else %}
                <li><a class='paginator' href='/mysite/home_page/{{ type }}/{{ page }}' title='{{ page }}'><span>{{ page }}</span></a></li>
            {% endifequal %}
        {% endfor %}
        <li>
        {% if posts.has_next %}
            <a class='paginator' title='下一页' href='/mysite/home_page/{{ type }}/{{ posts.next_page_number }}'><span>&gt;&gt;</span></a>
        {% endif %}
        </li>
      </ul>
    </nav>
    {% endif %}
    {% include "new_post_templates.html" %}
{% endblock %}

{% block main-right %}
        <ul class="nav nav-pills nav-stacked">
            <li role="persentation"><a href="/mysite/home_page/main">全部板块</a>
            <li role="persentation"><a href="/mysite/home_page/scholar/"> 学术讨论区</a></li>
            <li role="persentation"><a href="/mysite/home_page/department/"> 部门交流区</a></li>
            <li role="persentation"><a href="/mysite/home_page/chat/"> 灌水区</a></li>
            <li role="persentation"><a href="/mysite/home_page/jinghua/"> 精华区</a></li>
            <li role="persentation"><a href="/mysite/home_page/share/"> 资源共享区</a></li>
            </li>
        </ul>
        <script>
        $(function(){
            $(".nav li").click(function(){
                $('.nav li').removeClass("active");
                $(this).addClass("active");
            });

        })
    </script>
    <script type="text/javascript">
    $(window).onload(function(){
        alert("ready");
        //$('.nav li').removeClass("active");
        $(this).addClass("active");
    });
    </script>
{% endblock %}
