{% extends "admin/change_form.html" %}
{% block extrahead %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('a#send_mail').click(function(){
                var email_addr = $('#id_email').val();
                //alert(email_addr)
                $.ajax({
                    url: '/mysite/send_email/',
                    type: "POST",
                    headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
                    data: {'email_addr': email_addr },
                    dataType: 'json',
                    timeout :3000,
                    success: function(result) {
                        //console.log(result)
                        if(result.status == "200")
                            alert("发送成功");
                        else if(result.status =="500"){
                            alert("该用户已发送过邀请码")
                        }
                            // $('#replymodal').modal('hide');
                            // window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block form_top %}
<br/>
<strong>给此申请人<a href="#" id="send_mail"><span>发送</span></a>邀请码</strong>
<br/>
<br/>

{% endblock %}
